@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

#projects {
    @include section-padding();

    align-items: center;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    width: 100%;

    .projects-content {
        height: 100%;
        max-width: $section-width * 1.5;
        width: 100%;

        .section-header {
            color: $color-background;
        }

        .projects-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;

            .projects-paragraph {
                @include large-paragraph();
                text-align: center;
            }

            .projects-cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: $default-spacing;
                width: 100%;
            }
        }
    }
}

$floating-action-padding: $default-spacing;
$floating-action-icon-height: 24px;

.floating-action {
    background-color: $color-primary;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    line-height: 0;
    outline: none;
    padding: $floating-action-padding;
    transition: all 0.2s;

    &:hover {
        background-color: darken($color-primary, 2%);
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18), 0 3px 14px 0 rgba(0,0,0,0.15);
    }

    &:focus {
        background-color: darken($color-primary, 5%);
    }

    img {
        height: $floating-action-icon-height;
    }
}

$project-card-image-height: 215px;

.project-card {
    /* This was an experimentally derived good-looking value. */
    perspective: 800px;
    margin: $default-spacing;
    max-width: 350px;
    width: 100%;

    /* Need the inner container so that the perspective property can be used on the parent
     * project-card and then applied on the inner container.
     *
     * If we instead applied the perspective to the .projects-cards container in .projects-body,
     * then the perspective-origin would be the center of all the project cards, leaving the
     * animation looking a little whonky, with edge cards having more pronounced flips. */
    .project-card-inner {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        height: 350px;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        &.project-card--flipped {
            transform: rotateY(-180deg);
        }

        .project-card-front, .project-card-back {
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: absolute;
            width: 100%;

            /* Hack to get 'backface-visibility: hidden' to work properly for both the front and back
             * sides of the card for all browsers on both desktop and mobile.
             *
             * On Chrome, without this, the .project-card-flip-button is shown on the back side.
             *
             * On Firefox, the front side sometimes just doesn't render, and the front's backside is
             * shown when flipped to the back.
             *
             * For reference: https://stackoverflow.com/a/32421734.
             */
            transform: rotateX(0deg);
        }

        .project-card-front {
            .project-card-image-container {
                display: flex;
                flex-direction: column;
                height: $project-card-image-height;
                overflow: hidden;

                .project-card-image {
                    object-fit: cover;
                    object-position: center;
                }
            }

            .project-card-flip-button {
                position: absolute;
                right: $default-spacing;

                /* Note: Since this is absolutely positioned, it won't be perfectly responsive on
                 * mobile (i.e. the button won't necessarily be perfectly centered between the
                 * two sections) due to the potential for the height of the card to change as the
                 * page gets more squished horizontally.
                 *
                 * However, it looks good enough that it's hard to notice, so I'm fine with it.
                 */
                top: $project-card-image-height - $floating-action-padding - $floating-action-icon-height/2;
            }

            .project-card-info {
                background-color: $color-light;
                padding: $default-spacing * 1.5;

                .project-card-title {
                    color: $color-primary-dark;
                    cursor: pointer;
                    font-size: $large-text-size;
                    margin-bottom: $default-spacing;

                    @include breakpoint-navbar {
                        font-size: $mobile-large-text-size;
                    }
                }

                .project-card-description {
                    color: $color-background;
                    font-size: 12pt;
                    line-height: 1.4;

                    @include breakpoint-navbar {
                        font-size: $mobile-normal-text-size;
                    }
                }
            }
        }

        .project-card-back {
            display: flex;
            flex-direction: column;
            padding: $default-spacing * 1.5;
            transform: rotateY(-180deg);

            .project-card-back-section {
                margin-bottom: $default-spacing;

                .project-card-back-header {
                    color: $color-primary-dark;
                    margin-bottom: $default-spacing;

                    @include breakpoint-navbar {
                        font-size: $mobile-large-text-size;
                    }
                }

                .project-card-back-list {
                    list-style-type: disc;
                    margin-left: $default-spacing * 2;

                    &.project-card-list-tech-stack {
                        .project-card-tech-stack-list-item {
                            font-weight: bold;
                        }
                    }

                    li {
                        line-height: 1.8;

                        @include breakpoint-navbar {
                            font-size: $mobile-normal-text-size;
                        }
                    }
                }
            }

            .project-card-back-navigation {
                border-top: 1px solid #E3E3E3;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: -($default-spacing * 1.5);
                margin-top: auto;
                padding: $default-spacing/2 $default-spacing;

                @include breakpoint-navbar {
                    padding-right: $default-spacing/2;
                }

                .project-card-back-flip-button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    margin: -($default-spacing);
                    outline: none;
                    padding: $default-spacing;

                    img {
                        height: 30px;
                    }
                }

                .project-card-external-navigation {
                    display: flex;
                    align-items: center;

                    .project-card-navigation-button {
                        margin: 0 $default-spacing/2;
                    }
                }
            }
        }
    }
}
