@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

$content-side-padding: $default-spacing * 3;
$mobile-content-side-padding: $default-spacing;

@mixin skills-side-padding() {
    padding: 0 $content-side-padding;

    @include breakpoint-navbar {
        padding: 0 $mobile-content-side-padding;
    }
}

#skills {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        display: flex;
        flex-shrink: 0;
        width: 100%;

        .headerText {
            @include section-header();

            padding: $default-spacing*3 2px;

            @include breakpoint-navbar {
                padding: $default-spacing*2 2px;
            }
        }

        .headerLeft {
            background-color: $color-background;
            flex: 1;
            text-align: right;

            .headerText {
                color: $color-light;
            }
        }

        .headerRight {
            background-color: $color-light;
            flex: 1;

            .headerText {
                color: $color-background;
            }
        }
    }

    .skillsContent {
        display: flex;
        height: 100%;
    }
}

.contentHeader {
    height: $default-spacing * 8;

    .contentHeaderLeft {
        @include skills-side-padding();

        .skillSelectorDescription {
            @include normal-paragraph();

            color: $color-light;

            &:first-child {
                /* Pull up the first line to match evenly with skillDescriptionHeader */
                margin-top: $paragraph-line-height-correction;
            }

            @include breakpoint-navbar {
                &:last-child {
                    margin-top: $default-spacing;
                }
            }

            span {
                color: $color-primary;
                font-weight: bold;
            }
        }
    }

    .contentHeaderRight {
        @include skills-side-padding();

        .skillDescriptionHeader {
            color: $color-background;
            font-size: 20pt;
            font-weight: bold;
            letter-spacing: $header-letter-spacing - 1;
            text-align: left;

            @include breakpoint-navbar {
                font-size: 16pt;
            }
        }
    }
}

.skillSelectorContainer {
    @include skills-side-padding();

    background-color: $color-background;
    color: $color-light;
    flex: 1;
    text-align: right;

    .skillSelector {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        @include breakpoint-mobile-width {
            /* Ensure spacing between the headers and the content. */
            padding-top: $default-spacing * 2;
        }

        .skillSelectorItem {
            align-items: center;
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            display: flex;
            font-weight: bold;
            height: $default-spacing;
            letter-spacing: $paragraph-letter-spacing;
            font-size: $normal-text-size;
            justify-content: flex-end;
            margin-bottom: $default-spacing * 1.5;
            margin-right: $default-spacing * 2;

            @include breakpoint-navbar {
                font-size: $mobile-normal-text-size;
            }

            &.selectedItem {
                color: $color-primary;
                font-weight: bold;
                margin-right: 0;
            }

            .selectedCircle {
                border: 1.5px solid $color-primary;
                border-radius: 50%;
                height: $default-spacing;
                margin-left: $default-spacing;
                width: $default-spacing;
            }
        }
    }
}

$skill-description-max-width: 450px;

.skillDescriptionContainer {
    background-color: $color-light;
    flex: 1;
    padding: 0 $content-side-padding;

    @include breakpoint-navbar {
        padding: 0 $mobile-content-side-padding;
    }

    .skillDescription {
        @include normal-paragraph();

        margin-top: $paragraph-line-height-correction; /* Pull up to match evenly with skillSelector */
        max-width: $skill-description-max-width;

        @include breakpoint-mobile-width {
            /* Ensure spacing between the headers and the content. */
            padding-top: $default-spacing * 2;
        }
    }

    .skillImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: $default-spacing*2 0;
        max-width: $skill-description-max-width;

        .skillImage {
            height: $default-spacing * 4;
            width: $default-spacing * 4;

            @include breakpoint-navbar {
                height: $default-spacing * 2.5;
                width: $default-spacing * 2.5;
            }
        }
    }
}
