@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

#resume {
    @include section-padding();

    align-items: center;
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    width: 100%;

    .resume-content {
        height: 100%;
        max-width: $section-width;

        .resume-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;

            .resume-paragraph {
                @include large-paragraph();

                font-style: italic;
                text-align: center;

                .resume-paragraph-break {
                    display: none;

                    @include breakpoint-navbar {
                        display: block;
                    }
                }

                @include breakpoint-navbar {
                    margin-bottom: $default-spacing / 2;
                }
            }

            .resume-download {
                background: none;
                border: 2px solid $color-primary-dark;
                color: $color-primary-dark;
                font-size: $normal-text-size;
                margin-top: $default-spacing * 2;
                margin-bottom: $default-spacing * 2;
                padding: $default-spacing*1.25 $default-spacing*2.5;
                transition: all 0.1s;

                &:hover {
                    background-color: $color-primary-dark;
                    color: $color-background-light;
                }
            }
        }
    }
}
