@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

#about {
    @include section-padding();

    align-items: center;
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    width: 100%;

    .about-content {
        height: 100%;
        max-width: $section-width;

        .about-content-body {
            height: 100%;

            .about-content-paragraph {
                @include normal-paragraph();

                &:first-child {
                    margin-bottom: $default-spacing;
                }
            }

            .about-highlight {
                color: $color-primary-dark;
                font-weight: bold;
            }
        }
    }
}
