@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

#about {
    @include section-padding();

    align-items: center;
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    width: 100%;

    .aboutContent {
        height: 100%;
        max-width: $section-width;

        .body {
            height: 100%;

            .paragraph {
                @include normal-paragraph();

                &:first-child {
                    margin-bottom: $default-spacing;
                }
            }

            .bold {
                font-weight: bold;
            }

            .italic {
                font-style: italic;
            }

            .highlight {
                color: $color-primary-dark;
                font-weight: bold;
            }
        }
    }
}
