@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_mixins.scss";

$circle-diameter: 70vmin;

.homeContainer {
    align-items: center;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    height: $screen-height;
    justify-content: center;
    width: 100%;

    .nextSectionNavContainer {
        cursor: pointer;
        margin-bottom: $default-spacing;
        padding: $default-spacing;

        .nextSectionNav {
            height: $default-spacing;
        }
    }
}

.tagLineContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .tagLineCircle {
        align-items: center;
        border: 3px solid $color-primary;
        border-radius: 50%;
        color: $color-light;
        display: flex;
        flex-direction: column;
        height: $circle-diameter;
        width: $circle-diameter;
        justify-content: center;

        .subTagLine {
            @include body-font();

            font-size: 3vmin;
            font-style: italic;
            letter-spacing: 2px;
            margin-bottom: $default-spacing;

            @media(max-width: 400px) {
                font-size: 2.5vmin;
            }
        }

        .tagLine {
            @include header-font();

            font-size: 7vmin;
            font-weight: bold;
            letter-spacing: 8px;
            margin: $default-spacing/2 0;

            @media(max-width: 400px) {
                font-size: 5vmin;
            }
        }
    }
}
