@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

$circle-diameter: 70vmin;

#home {
    align-items: center;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;

    .home-logo {
        display: none;
        left: $default-spacing * 1.5;
        position: absolute;
        top: $default-spacing * 1.5;

        @include breakpoint-navbar {
            display: inline;
        }
    }

    .home-next-section-nav-container {
        cursor: pointer;
        margin-bottom: $default-spacing;
        padding: $default-spacing;

        .home-next-section-nav {
            height: $default-spacing;
        }
    }
}

.tag-line-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .tag-line-circle {
        align-items: center;
        border: 3px solid $color-primary;
        border-radius: 50%;
        color: $color-light;
        display: flex;
        flex-direction: column;
        height: $circle-diameter;
        width: $circle-diameter;
        justify-content: center;

        .sub-tag-line {
            @include body-font();

            font-size: 3.5vmin;
            font-style: italic;
            letter-spacing: 2px;
            margin-top: $default-spacing * 2;

            @include breakpoint-navbar {
                margin-top: $default-spacing;
            }
        }

        .tag-line {
            @include header-font();

            font-size: 6.5vmin;
            font-weight: bold;
            letter-spacing: 8px;
            margin: $default-spacing/2 0;

            @include breakpoint-navbar {
                font-size: 5.5vmin;
                letter-spacing: 4px;
            }
        }
    }
}
