@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

#contact {
    @include section-padding();

    align-items: center;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    width: 100%;

    .contact-content {
        height: 100%;
        max-width: $section-width;

        .section-header {
            color: $color-light;
        }

        .contact-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;

            .contact-paragraph {
                @include large-paragraph();

                color: $color-light;
                margin-bottom: $default-spacing * 3;
                text-align: center;
            }

            .contact-info-container {
                display: flex;
                flex-direction: column;
                margin-bottom: $default-spacing * 5;

                .contact-info {
                    align-items: center;
                    display: flex;
                    margin-bottom: $default-spacing * 2;

                    img {
                        margin-right: $default-spacing * 2;
                        width: 24px;
                    }

                    a {
                        text-decoration: underline;
                    }

                    .contact-info-text {
                        color: $color-light;
                        font-size: $normal-text-size;
                    }
                }
            }
        }
    }
}
