$color-light: rgba(255, 255, 255, 0.9);
$color-primary: #008C8C;
$color-primary-dark: #007777;   /* For increasing contrast on $color-background-light */
$color-primary-light: #00a9a9;  /* For increasing contrast on $color-background */
$color-background: #20313B;
$color-background-light: #F3EFE0;
