$color-light: rgba(255, 255, 255, 0.9);
$color-primary: #008c8c;
$color-primary-dark: #007777; /* For increasing contrast on $color-background-light */
$color-primary-light: #00a9a9; /* For increasing contrast on $color-background */
$color-background: #20313b;
$color-background-light: #f3efe0;
