$default-spacing: 16px;

$header-text-size: 30pt;
$large-text-size: 16pt;
$normal-text-size: 12pt;

$header-height: $default-spacing * 4;
$screen-height: calc(100vh - #{$header-height});

$section-width: 850px;

$paragraph-line-height: 2;
$paragraph-line-height-correction: -8px;  /* Move text back up to account for line-height pushing it down */
$header-letter-spacing: 3px;
$paragraph-letter-spacing: 1px;
