$default-spacing: 16px;

$header-text-size: 30pt;
$large-text-size: 16pt;
$normal-text-size: 12pt;

$mobile-header-text-size: 20pt;
$mobile-large-text-size: 12pt;
$mobile-normal-text-size: 10pt;

$header-height: $default-spacing * 5;

$section-width: 850px;

$paragraph-line-height: 2;
$paragraph-line-height-correction: -8px;  /* Move text back up to account for line-height pushing it down */
$header-letter-spacing: 3px;
$paragraph-letter-spacing: 1px;

$menu-fab-diameter: $default-spacing * 3.5;
