@import "style/_media_queries.scss";

@mixin header-font() {
    font-family: "Titillium Web", sans-serif;
}

@mixin body-font() {
    font-family: "Open Sans", sans-serif;
}

@mixin section-padding() {
    padding: $default-spacing*3 $default-spacing*2;

    @include breakpoint-navbar {
        padding: $default-spacing*2 $default-spacing*1.5
    }
}

@mixin normal-paragraph() {
    color: $color-background;
    font-size: $normal-text-size;
    letter-spacing: $paragraph-letter-spacing;
    line-height: $paragraph-line-height;

    @include breakpoint-navbar {
        line-height: 1.8;
        font-size: $mobile-normal-text-size;
    }
}

@mixin large-paragraph() {
    @include normal-paragraph();

    font-size: $large-text-size;
    letter-spacing: $large-paragraph-letter-spacing;

    @include breakpoint-navbar {
        font-size: $mobile-large-text-size;
    }
}

@mixin section-header() {
    font-size: $header-text-size;
    letter-spacing: $header-letter-spacing;

    @include breakpoint-navbar {
        font-size: $mobile-header-text-size;
    }
}
