@import "style/_dimens.scss";
@import "style/_media_queries.scss";

.logo {
    cursor: pointer;
    height: $default-spacing * 3;
    width: $default-spacing * 3;

    @include breakpoint-navbar {
        height: $menu-fab-diameter;
        width: $menu-fab-diameter;
    }
}
