@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $color-light;
$hamburger-hover-opacity: 1.0;
$hamburger-active-hover-opacity: 1.0;

@import "style/hamburgers/hamburgers";

$menu-fab-diameter: $default-spacing * 4;
$menu-fab-spacing: $default-spacing * 1.5;
$menu-background-circle-position: $menu-fab-spacing + ($menu-fab-diameter / 1.6);

.navbar-mobile {
    display: none;

    @include breakpoint-navbar {
        display: flex;
    }

    .navbar-nav {
    }

    .circle {
        background: white;
        border-radius: 50%;
        bottom: $menu-background-circle-position;
        height: 0px;
        opacity: 1;
        position: fixed;
        right: $menu-background-circle-position;
        transition: all 350ms cubic-bezier(0, 0.995, 0.99, 1);
        width: 0px;
        z-index: 99998;

        &.circle-expand {
            bottom: -105vmax;
            height: 198vmax;
            right: -105vmax;
            transition: all 450ms cubic-bezier(0, 0.995, 0.99, 1);
            width: 198vmax;
        }
    }

    .navbar-open-button {
        align-items: center;
        background-color: $color-primary;
        border: none;
        border-radius: 50%;
        bottom: $menu-fab-spacing;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        outline: none;
        position: fixed;
        right: $menu-fab-spacing;
        height: $menu-fab-diameter;
        width: $menu-fab-diameter;
        z-index: 99999;
    }
}
