@import "style/_colors.scss";
@import "style/_dimens.scss";
@import "style/_media_queries.scss";
@import "style/_mixins.scss";

$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $color-light;
$hamburger-hover-opacity: 1.0;
$hamburger-active-hover-opacity: 1.0;

@import "style/hamburgers/hamburgers";

$menu-fab-spacing: $default-spacing * 1.5;
$menu-background-offset: -105vmax;
$menu-background-position: $menu-fab-spacing + ($menu-fab-diameter / 2);
$menu-background-size: 235vmax;
$menu-background-z-index: 99998;
$menu-foreground-z-index: 99999;

@mixin menu-transition($transition-time: 450ms) {
    transition: all $transition-time cubic-bezier(0, 0.995, 0.99, 1);
}

.navbar-mobile {
    display: none;

    @include breakpoint-navbar {
        display: flex;
    }

    .navbar-nav {
        @include menu-transition(150ms);

        align-items: flex-end;
        bottom: $menu-fab-spacing * 6;
        display: none;
        flex-direction: column;
        position: fixed;
        right: $menu-fab-spacing;
        opacity: 0;
        z-index: $menu-foreground-z-index;

        @include breakpoint-mobile-landscape-height {
            flex-direction: row;
        }

        &.navbar-nav--visible {
            display: flex;
            opacity: 1;
        }
        
        .navbar-nav-item {
            @include section-header();

            cursor: pointer;
            color: $color-background;
            margin-top: $default-spacing * 3;
            text-transform: uppercase;

            @include breakpoint-mobile-landscape-height {
                margin: 0 $default-spacing;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .navbar-logo {
            position: fixed;
            top: $menu-fab-spacing;
            left: $menu-fab-spacing;
        }
    }

    .menu-background {
        @include menu-transition();

        background: white;
        border-radius: 50%;
        bottom: $menu-background-position;
        height: 0px;
        opacity: 1;
        position: fixed;
        right: $menu-background-position;
        width: 0px;
        z-index: $menu-background-z-index;

        &.menu-background--expand {
            bottom: $menu-background-offset;
            height: $menu-background-size;
            right: $menu-background-offset;
            width: $menu-background-size;
        }
    }

    .navbar-open-button {
        align-items: center;
        background-color: $color-primary;
        border: none;
        border-radius: 50%;
        bottom: $menu-fab-spacing;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        height: $menu-fab-diameter;
        justify-content: center;
        outline: none;
        position: fixed;
        right: $menu-fab-spacing;
        width: $menu-fab-diameter;
        z-index: $menu-foreground-z-index;
    }
}
